.left-side2 {
    background-color: rgba(139, 162, 161, 0.29);
    padding: 3em;
    font-weight: bold;
}

.right-side2 {
    background: rgba(90, 243, 235, 0.233);
    padding: 3em;
    font-weight: bold;
}
.btn{
    font-weight: bold;
}
.row{
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}